 <header>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h2 class="display-4">Shop App</h2>
                <p class="lead">Hoş Geldiniz...</p>
            </div>
        </div>
    </header>